@import "./functions";
.search-icon{
  @include inlBlk();
  @include sprite();
 background-position: -142px -80px;
 @include width-height(36px,31px);
}
.expand-icon{
  @include inlBlk();
  @include sprite();
  background-size: 96px 2560px;
  background-position: -32px -704px;
  width: 28px;
  height: 28px;
}
.expand-blue-icon{
  @include inlBlk();
  @include sprite();
  @include expand-middile();
  @include pointer();
  background-size: 96px 2560px;
  background-position: -3px -704px;
  width: 28px;
  height: 28px;
}
.collapse-icon{
  @include inlBlk();
  @include sprite();
  background-size: 96px 2560px;
   background-position: -32px -736px;
  width: 28px;
  height: 28px;
}
.collapse-blue-icon{
  @include inlBlk();
  @include sprite();
  @include expand-middile();
  @include pointer();
  background-size: 96px 2560px;
  background-position: -3px -736px;
  width: 28px;
  height: 28px;
}
.expand-icon{
  @include inlBlk();
  @include sprite();
  background-size: 96px 2560px;
  background-position: -32px -704px;
  width: 28px;
  height: 28px;
}
.previous-icon{
  @include inlBlk();
  @include sprite();
  background-position: -16px -1170px;
  @include width-height(30px,34px);
  left:0;
  cursor: pointer;
  position: absolute;
  top:50%;
  margin-top: -15px;
  z-index: 1000;
}
.next-icon{
  @include inlBlk();
  @include sprite();
  background-position: -16px -1298px;
  @include width-height(30px,34px);
  right: 0;
  position: absolute;
  top:50%;
  margin-top: -15px;
  z-index: 1000;
  cursor: pointer;
}
/* background-position: -16px -1493px; for - */