.search-icon {
  display: inline-block;
  background: url("../images/symbol.png") 0 0 no-repeat;
  background-size: 192px 5120px;
  background-position: -142px -80px;
  width: 36px;
  height: 31px; }
