<div id="profile">
    <hr/>
    <aside class="profile-info" >
        <div class="profile-about" data-bind="if:me()">
            <img data-bind="attr: { src: me().profilePic }" alt=""/>

            <h3 data-bind="text:me().name"></h3>
        </div>
        <div class="friend-info">
            <ul class="main-info">
                <li class="info-followers">
                    <h3 class=""><div data-bind="text:friendsCount"></div> <span>Friends</span></h3>
                </li>
                <li>
                    <h3 class="info-friends"><div data-bind="text:albumCount"></div> <span>Albums</span></h3>
                </li>
                <li class="last-child">
                    <h3 class="info-albums"><div data-bind="text:likesCount"></div> <span>Likes</span></h3>
                </li>
            </ul>
            <h3 class="edit-profile"><a href="">EditProfile</a></h3>
        </div>
    </aside>
    <article class="album-list">
        <h3 class="menu">Albums <span class="expand-icon"></span></h3>
        <ul data-bind="foreach:albums">
            <li>
                <a data-bind="attr: { href: '#albums/'+id() }">
                <div class="album-cover"><img data-bind="attr: { src: cover }" alt=""/></div>
                <h4 data-bind="text:name"></h4>
                <div class="pic-count"><span data-bind="text:count"/></div>
                </a>
            </li>
        </ul>
    </article>
</div>